# Auto detect text files and perform LF normalization
* text=auto

# Explicit text types
*.ts text
*.tsx text
*.js text
*.jsx text
*.mjs text
*.json text
*.md text
*.css text
*.html text
*.yml text
*.yaml text
*.svg text

# Binary assets
*.png binary
*.vsix binary
